nav {
  background-color: orange;
  border-radius: 15px;
}

ul {
  display: flex;
  list-style-type: none;
}

li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 10px;

  transition: 200ms all ease-in-out;
}

ul li:hover a {
  background-color: aliceblue;
  color: black;
}
